.footer {
  position: relative;
  margin-top: -1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(105deg, #7d6026, #45371b);
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer a,
.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: none;
  outline: none;
}

.footer a,
.footer a:active,
.footer a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.footer section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}

/*END FOOTER SOCIAL DESIGN*/

@media only screen and (max-width:768px) {
  .footer .single_footer {
    margin-bottom: 30px;
  }
}

.footer .single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.footer .single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}

.footer .single_footer p {
  color: #fff;
}

.footer .single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}

.footer .single_footer ul li a:hover:not(.paragraph) {
  color: #ffc107;
}

.footer .single_footer_address ul li {
  color: #fff;
}

.footer .single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.footer .contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.footer .subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.footer .subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 60px 0 20px;
  text-align: start;
  width: 100%;
}

@media only screen and (max-width:768px) {
  .footer .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.footer .subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #45371b;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.footer .subscribe__btn i {
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width:768px) {
  .footer .subscribe__btn {
    right: 0px;
  }
}

.footer .subscribe__btn:hover i {
  color: #ffc107;
}

.footer button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.footer .social_profile {
  margin-top: 40px;
}

.footer .social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer .social_profile ul li {
  float: left;
}

.footer .social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width:768px) {
  .footer .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:480px) {
  .footer .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.footer .social_profile ul li a:hover {
  background: #ffc107;
  border: 1px solid #ffc107;
  color: #fff;
  border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.footer .copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

.footer .copyright a {
  color: #918666;
  transition: all 0.2s ease 0s;
}

.footer .copyright a:hover {
  color: #ffc107;
}